.ui-component {
  max-width: 800px;
  padding: 100px;
  margin: auto;
}

.search-setting {
  text-align: right;
  margin-bottom: 30px;
}
.input-field {
  padding: 15px;
}
.form-field {
  width: 100%;
}
.filter {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.order {
  flex: 0 0 115px;
}
.from {
  flex: 1 1 auto;
}
.to {
  flex: 1 1 auto;
}
.video-search-result {
  padding: 15px;
}
.order-item-active {
  background-color: rgba(0, 0, 0, 0.05);
}
.pagination {
  padding: 15px;
}
